{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}


<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
      </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Proveedor</h4>
            <p class="card-description"> Editar Proveedor <code></code>
            </p>
            <form action="/procesarActualizacionCliente/" enctype="multipart/form-data" method="post" id="frm_nuevo_cliente">
                {% csrf_token %}
              <div class="table-responsive" >
                <input type="hidden" name="id" value="{{cliente.id}}">
                <table class="table">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                          <input value="{{cliente.nombre}}" name="nombre" id="nombre" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                            <input value="{{cliente.apellido}}" name="apellido" id="apellido" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>


                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                            <input value="{{cliente.telefono}}"  name="telefono" id="telefono" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                          <input value="{{cliente.mail}}" type="email" name="mail" id="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                          <input value="{{cliente.direccion}}" name="direccion" id="direccion" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Cedula</span>

                            <input value="{{cliente.cedula}}" name="cedula" id="cedula" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                      </div>
                    </div>

                    <br>
                    <center>
                      <button type="submit" name="button" class="btn btn-outline-success"><i class="fa-solid fa-save "></i>   Editar</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="/cliente" type="reset" name="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i>   Cancelar</a>
                    </center>

                  </table>
              </div>
            </form>

          </div>
        </div>
      </div>



    </div>
</div>







    {%endblock%}
