{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>SISTEMA MOVT</title>

        <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}" />

        <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

        <!-- Bootstrap Fileinput CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css">
        <!-- Bootstrap Fileinput JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
        <!-- español fileinput -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>

        <script type="text/javascript"
          src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
        </script>
        <script type="text/javascript" src="{% static 'script/proveedor.js' %}"> </script>
        <script type="text/javascript" src="{% static 'script/cliente.js' %}"> </script>
        <script type="text/javascript" src="{% static 'script/usuario.js' %}"> </script>
        <!-- Importacion de para imprimir -->
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    </head>


    <body>
      <div class="container-scroller">
          <nav class="sidebar sidebar-offcanvas" id="sidebar">

              <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
<a class="sidebar-brand brand-logo" href="index.html">
  <img class="autoajustar-imagen" src="{%static 'images/movt.png'%}" alt="logo" />
</a>
                  <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="{%static 'images/faces/logomovt.png'%}" alt="logo" /></a>
              </div>
              <ul class="nav">
              <li class="nav-item nav-profile">
                  <a href="#" class="nav-link">
                  <div class="nav-profile-image">
                      <img src="{%static 'images/faces/face5.jpg'%}" alt="profile" />
                      <span class="login-status online"></span>
                      <!--change to offline or busy as needed-->
                  </div>
                  <div class="nav-profile-text d-flex flex-column pr-3">
                      <span class="font-weight-medium mb-2">Antony Troya</span>
                      <span class="font-weight-normal">Usuario</span>
                  </div>
                  <span class="badge badge-danger text-white ml-3 rounded"></span>
                  </a>
              </li>


              <li class="nav-item">
                  <a class="nav-link" href="{% url 'proveedor' %}">
                  <i class="mdi mdi-contacts menu-icon"></i>
                  <span class="menu-title">Proveedor</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'cliente' %}">
                  <i class="mdi mdi-account-convert

                   menu-icon"></i>
                  <span class="menu-title">Clientes</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'usuario' %}">
                  <i class="mdi mdi-account-check menu-icon"></i>
                  <span class="menu-title">Usuarios</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="pages/tables/basic-table.html">
                  <i class="mdi mdi-table-large menu-icon"></i>
                  <span class="menu-title">Ventas</span>
                  </a>
              </li>
              <li class="nav-item">
                  <span class="nav-link" href="#">
                  <span class="menu-title">Reportes</span>
                  </span>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.bootstrapdash.com/demo/breeze-free/documentation/documentation.html">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Documentation</span>
                    </a>
                </li>
                <li class="nav-item sidebar-actions">
                    <div class="nav-link">
                    <div class="mt-4">
                        <div class="border-none">
                        <p class="text-black">Notification</p>
                        </div>
                        <ul class="mt-4 pl-0">
                        <li>Sign Out</li>
                        </ul>
                    </div>
                    </div>
                </li>
                </ul>
            </nav>

        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="{%static 'images/logo-mini.svg'%}" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                    <i class="mdi mdi-menu"></i>
                    </button>
                    <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="count count-varient1">7</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                            <img src="{%static 'images/faces/face4.jpg'%}" alt="" class="profile-pic" />
                            </div>
                            <div class="preview-item-content">
                            <p class="mb-0"> Dany Miles <span class="text-small text-muted">commented on your photo</span>
                            </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                            <img src="{%static 'images/faces/face3.jpg'%}" alt="" class="profile-pic" />
                            </div>
                            <div class="preview-item-content">
                            <p class="mb-0"> James <span class="text-small text-muted">posted a photo on your wall</span>
                            </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                            <img src="{%static 'images/faces/face2.jpg'%}" alt="" class="profile-pic" />
                            </div>
                            <div class="preview-item-content">
                            <p class="mb-0"> Alex <span class="text-small text-muted">just mentioned you in his post</span>
                            </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <p class="p-3 mb-0">View all activities</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-sm-flex">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="count count-varient2">5</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
                        <h6 class="p-3 mb-0">Messages</h6>
                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow">
                            <span class="badge badge-pill badge-success">Request</span>
                            <p class="text-small text-muted ellipsis mb-0"> Suport needed for user123 </p>
                            </div>
                            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow">
                            <span class="badge badge-pill badge-warning">Invoices</span>
                            <p class="text-small text-muted ellipsis mb-0"> Invoice for order is mailed </p>
                            </div>
                            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow">
                            <span class="badge badge-pill badge-danger">Projects</span>
                            <p class="text-small text-muted ellipsis mb-0"> New project will start tomorrow </p>
                            </div>
                            <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                        </a>
                        <h6 class="p-3 mb-0">See all activity</h6>
                        </div>
                    </li>
                    <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                        <form class="nav-link form-inline mt-2 mt-md-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" />
                            <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                            </div>
                        </div>
                        </form>
                    </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                    <li class="nav-item dropdown d-none d-xl-flex border-0">
                        <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-earth"></i> English </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="#"> French </a>
                        <a class="dropdown-item" href="#"> Spain </a>
                        <a class="dropdown-item" href="#"> Latin </a>
                        <a class="dropdown-item" href="#"> Japanese </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown border-0">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                        <img class="nav-profile-img mr-2" alt="" src="{%static 'images/faces/face1.jpg'%}" />
                        <span class="profile-name">Henry Klein</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                        </div>
                    </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="main-panel">

                {% block contenido %}
                {%endblock%}
                {% if messages %}
                {% for mensaje in messages %}
                    <script type="text/javascript">

                    iziToast.success({
                        title: 'OK',
                        message: '{{mensaje}}',
                        position: 'topRight'
                    });

                    </script>
                {% endfor %}
                {% endif %}

<footer class="footer">
<div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020<br>
    Distributed By <a href="https://www.themewagon.com/" target="_blank">ThemeWagon</a>

</span>
<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
</div>
</footer>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{%static 'vendors/chart.js/Chart.min.js'%}"></script>
        <!-- inject:js -->
        <script src="{%static 'js/off-canvas.js'%}"></script>
        <script src="{%static 'js/hoverable-collapse.js'%}"></script>
        <script src="{%static 'js/misc.js'%}"></script>
    </body>
</html>
