{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}


<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Edicion de Proveedores</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Proveedor</h4>
            <p class="card-description"> Editar Proveedor <code></code>
            </p>
            <form action="/procesarActualizacionProveedor/" enctype="multipart/form-data" method="post" id="frm_nuevo_proveedor">
                {% csrf_token %}
              <div class="table-responsive" >
                <input type="hidden" name="id" value="{{proveedor.id}}">

                <table class="table">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                            <input value="{{proveedor.nombre}}" name="nombre" id="nombre" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                            <input value="{{proveedor.telefono}}" name="telefono" id="telefono" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                                <input value="{{proveedor.mail}}" type="email" name="mail" id="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Ruc</span>
                                <input value="{{proveedor.ruc}}" name="ruc" id="ruc" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                                <input value="{{proveedor.direccion}}" name="direccion" id="direccion" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Año</span>
                                <input value="{{proveedor.año}}" name="año" id="año" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                    <b>LOGO:</b>
                    <div class="row">
                      <div class="col-md-2 text-center border border-top border-secondary">
                        <br><br>
                        {% if proveedor.logo %}
                        <a href="{{proveedor.logo.url}}" target="_blank">
                        <img class="border border-top border-secondary" src="{{proveedor.logo.url}}"  alt="" width="200" height="200"></a></td>
                      {%else%}
                        <b>N/A</b>
                      {% endif %}

                      </div>
                      <div class="col-md-10">
                        <input
                        type="file"
                        accept="image/*"
                        class="form-control m-1"
                        name="logo"
                        id="logo"
                      />

                      </div>
                    </div>
                    <br><br><br>
                  <center>
                    <button type="submit" name="button" class="btn btn-outline-success"><i class="fa-solid fa-save "></i>   Editar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/proveedor" type="reset" name="a" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i>   Cancelar</a>
                  </center>

                </table>
              </div>
            </form>

          </div>
        </div>
      </div>



    </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#logo").fileinput({
      //showUpload:false
      //showRemove: false,
      language:'es',
      maxFileSize: 0
    });
  });
</script>




    {%endblock%}
