{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<script src="{% static 'libraries/jquery-validate/jquery.validate.js' %}"></script>

<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Registro de Usuario</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <p class="card-description"> Agregar Usuarios <code></code>
            </p>
            <form action="/guardarUsuario/" enctype="multipart/form-data" method="post" id="frm_nuevo_usuario">
              {% csrf_token %}
              <div class="table-responsive" >
                <table class="table">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                        <input name="nombre" id="nombre" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                        <input name="apellido" id="apellido" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                        <input name="direccion" id="direccion" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Cedula</span>

                        <input name="cedula" id="cedula" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                        <input type="email" name="mail" id="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                        <input type="number" name="telefono" id="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Edad</span>

                        <input name="edad" id="edad" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group input-group-sm ">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                      </div>
                      <input name="user" id="user" type="file" accept="image/*"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                    </div>
                  </div>
                  <br>
                  <center>
                    <button type="submit" name="button" class="btn btn-outline-success"><i class="fa-solid fa-save "></i>   Guardar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" name="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i>   Cancelar</button>
                  </center>

                </table>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card mx-auto">
          <div class="card-body">
            <h2 class="card-title text-center">Grafico Estadistico</h2>
            <br><br><br><br><p></p>
            <canvas id="barChart" style="height: 230px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuarios</h4>
            <p class="card-description"> Add class <code>.table-striped</code>
            </p>
            <div class="table-responsive">
              <table class="table table-striped table-bordered" id="tbl_usuario">
                <thead>
                  <tr class="text-center">
                    <th class="text-center">User</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Apellido</th>
                    <th class="text-center">Telefono</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Cedula</th>
                    <th class="text-center">Direccion</th>
                    <th class="text-center">Edad</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for usuario in usuario %}
                  <tr class="text-center">
                      <td>
                        {% if usuario.user %}
                        <a href="{{ usuario.user.url }}" target="_blank">
                            <img src="{{ usuario.user.url }}" alt="" height="70px" width="100px">
                        </a>
                        {% else %}
                        <b>N/A</b>
                        {% endif %}
                    </td>
                      <td>{{ usuario.nombre }}</td>
                      <td>{{ usuario.apellido }}</td>
                      <td>{{ usuario.telefono }}</td>
                      <td>{{ usuario.mail }}</td>
                      <td>{{ usuario.cedula }}</td>
                      <td>{{ usuario.direccion }}</td>
                      <td>{{ usuario.edad }}</td>
                      <td style="width: 19%;">
                        <a href="/editarUsuario/{{ usuario.id }}" class="btn btn-outline-warning">Editar</a>
                        <a href="javascript:void(0)" onclick="eliminarUsuario('/eliminarUsuario/{{usuario.id}}');" class="btn btn-outline-danger">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- Button trigger modal -->




<script>
  document.addEventListener('DOMContentLoaded',  function () {
    const ctx = document.getElementById('barChart');

    const nombresUsuario = [];
    const edadArray = [];

    // Colores aleatorios para las barras del gráfico
    const coloresAleatorios = generarColoresAleatorios({{ usuario|length }});

    {% for usuario in usuario %}
      nombresUsuario.push("{{ usuario.nombre }}");
      edadArray.push({{ usuario.edad }});
    {% endfor %}

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: nombresUsuario, // Utiliza los nombres de las asignaturas como etiquetas en el eje x
        datasets: [{
          label: 'Edad', // Etiqueta para la leyenda
          data: edadArray, // Utiliza los créditos como datos en el eje y
          backgroundColor: coloresAleatorios, // Colores aleatorios para las barras
          borderColor: coloresAleatorios, // Colores de borde aleatorios para las barras
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            stepSize: 1,
          }
        }
      }
    });

    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };

    // Función para generar colores aleatorios
    function generarColoresAleatorios(numeroColores) {
      const colores = [];
      for (let i = 0; i < numeroColores; i++) {
        const color = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.5)`;
        colores.push(color);
      }
      return colores;
    }
  });
</script>

<script type="text/javascript">
  function eliminarUsuario(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el proveedor seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
      ]
    });
  }

  $('#tbl_usuario').DataTable({
    dom: 'Bfrtip',
    buttons: [
    {
        extend: 'pdfHtml5',
        text: '<i class="fas fa-file-pdf"></i> PDF',

        messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
    },
    {
      extend: 'print',
      text: '<i class="fas fa-print"></i> Imprimir'
    },
    {
      extend: 'csv',
      text: '<i class="fas fa-file-csv"></i> CSV'
    }
  ],
  language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
          }

});




$("#user").fileinput({
  language: 'es'
});

</script>



{%endblock%}
