{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}


<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Edicion de Usuarios</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usuario</h4>
            <p class="card-description"> Editar Usuario <code></code>
            </p>
            <form action="/procesarActualizacionUsuario/" enctype="multipart/form-data" method="post" id="frm_nuevo_usuario">
                {% csrf_token %}
                <div class="table-responsive" >
                    <input type="hidden" name="id" value="{{usuario.id}}">
                    <table class="table">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                            <input value="{{usuario.nombre}}" name="nombre" id="nombre" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                            <input value="{{usuario.apellido}}" name="apellido" id="apellido" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                      </div>

                      <div class="row">

                        <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
                            <input value="{{usuario.direccion}}" name="direccion" id="direccion" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Cedula</span>

                            <input value="{{usuario.cedula}}" name="cedula" id="cedula" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>


                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            <input value="{{usuario.mail}}" type="email" name="mail" id="mail" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                            <input value="{{usuario.telefono}}" type="number" name="telefono" id="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Edad</span>

                            <input value="{{usuario.edad}}" name="edad" id="edad" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </div>


                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="input-group input-group-sm ">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                          </div>
                          <div class="row">
                            <div class="col-md-2 text-center border border-top border-secondary">
                              <br><br>
                              {% if usuario.user %}
                              <a href="{{usuario.user.url}}" target="_blank">
                                <img class="border border-top border-secondary" src="{{usuario.user.url}}"  alt="" width="200" height="200"></a></td>
                              {%else%}
                                <b>N/A</b>
                              {% endif %}

                            </div>
                            <div class="col-md-10">
                              <input
                              type="file"
                              accept="image/*"
                              class="form-control m-1"
                              name="user"
                              id="user"
                            />

                            </div>
                          </div>

                        </div>
                      </div>
                      <br>
                      <center>
                        <button type="submit" name="button" class="btn btn-outline-success"><i class="fa-solid fa-save "></i>   Editar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/usuario" type="reset" name="button" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i>   Cancelar</a>
                      </center>

                    </table>
                  </div>
            </form>

          </div>
        </div>
      </div>



    </div>
</div>



<script type="text/javascript">


$("#user").fileinput({
  language: 'es'
});

</script>
{%endblock%}
